NEXT_PUBLIC_COLLECTION_ADDRESS=0xYourDeployedERC1155Contract
NEXT_PUBLIC_AXIE_CONTRACT=0x32950db2a7164aE833121501C797D79E7B79d74C
NEXT_PUBLIC_IMAGE_BASE_URL=https://ipfs.io/ipfs/YOUR_IMAGES_FOLDER_CID
NEXT_PUBLIC_RONIN_RPC=https://api.roninchain.com/rpc
NEXT_PUBLIC_CHAIN_ID=2020
